---
title: 'Reviews | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <picture class="cs-picture">
            <img class="cs-icon" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Ffancy-divider.svg" alt="divider" width="181" height="36" aria-hidden="true">
        </picture>
        <span class="cs-int-title">Accounting Services Page</span>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Ftable.jpg" alt="breakfast" width="1920" height="1000">
    </picture>
</div>   


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-468">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/geen1.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">Service 1</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green2.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">Service 2</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green3.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">Service 3</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green4.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">Service 4</h3>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green5.svg" loading="lazy" decoding="async" alt="icon" width="90" height="90">
                <h3 class="cs-h3">Service 5</h3>
            </li>
        </ul>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br/>
            With Us Today
        </h2>
        <p>
            Say something catchy, informative, and encouraging to click the button to go to the contact page. I like to add these to the bottom of all pages.
        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>

    {% include 'components/cta.html' %}

{% endblock %}