---
title: 'Tax Solutions | Tax Chateau Financial Corp.'
description: 'Welcome to our tax solutions page'
preloadImg: '/assets/images/imagename.format'
permalink: 'taxsolutions/'
eleventyNavigation:
    key: Tax Solutions
    order: 1000
    parent: Optional - Put another page's "key" here to create a dropdown
    hideOnMobile: Optional - set to "true" to hide on devices from, and below, 1023px
    hideOnDesktop: Optional - set to "true" to hide on devices above, and including, 1024px
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1014">
    <div class="cs-container">
        <span class="cs-int-title">Tax Solutions</span>
        <p class="cs-text">
            Tax solutions specifically cattered for your personal.
        </p>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" src="../../assets/images/businessman-hands-doing-analysis-planning-business-project-in-office-free-video.jpg">
        <source media="(min-width: 601px)" src="../../assets/images/businessman-hands-doing-analysis-planning-business-project-in-office-free-video.jpg">
        <img decoding="async" src="../../assets/images/businessman-hands-doing-analysis-planning-business-project-in-office-free-video.jpg" alt="breakfast" width="1920" height="1000">
    </picture>
</div>   


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1557">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/bag.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Personal Tax
                    </h3>
                    <p class="cs-item-text">
                        Our detailed understanding of small and large business issues means your taxes will always be prepared accurately and on time. Our team completes ongoing education to ensure that we are up-to-date with the current tax changes that affect your business.

                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/sheild.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Personal Tax Returns
                    </h3>
                    <p class="cs-item-text">
                        We provide a full range of income tax services such as cost-effective tax preparation. Basic and complex returns, rental properties, self-employment, investments services and services for deceased individuals.

                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/bag.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Business-Savvy Professionals
                    </h3>
                    <p class="cs-item-text">
                        It’s no secret that one person alone cannot overcome the greatest humanitarian crises. It truly takes all of us.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
   
<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br/>
            With Us Today
        </h2>
        <p>
            Whether you need a small business accountant to organize receipts and document transactions or more expertise processes such as financial statements and account reconciliation, our team is here to help! 
        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" src="../../assets/images/footerimage.jpg">
        <source media="(min-width: 601px)" src="../../assets/images/footerimage.jpg">
        <img aria-hidden="true" decoding="async" src="../../assets/images/footerimage.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>

    </div>
{% endblock %}